{% extends "mainLayout.html" %}
{% block title %}{{category.name}} Items{% endblock %}
{% block mainSectionName %}{{category.name}} Items{% endblock %}
{% block ItemContent %}
	{% for item in catalogItems %}
		<div>
			<span class="itemBtn">{{item.name}}</span>
			{% if isLoggedIn %}
				| <a class="formLink" href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}">Edit</a>
				| <span class="formLink" onclick="showDelete({{item.id}})">Delete</span>
			{% endif %}
		<div>
		<div class="itemDesc">{{item.description}}</div>
	{% endfor %}
{% endblock %}
